# SWeat 파이썬 W1-1
notebook 테스트입니다

In [2]:
!ls

KK  dpyenv  hong.py  install.sh  jupyterenv  ps  run_jupyter.sh  yohan

In [3]:
!pwd

/home/enak

## 1. iterator
- lazy evaluation: not to prepare all values, then evaluate when required

### 1.1 iterable
- Facts
    - `iterable.__iter__()` and `iter(iterable)` return `iterator` object
    - `iterator.__next__()` and `next(iterator)` fetch following value of iterator

In [5]:
l = [1, 2, 3]
"__iter__" in dir(l)

True

In [6]:
for x in l:
    print(x)

1
2
3

In [10]:
it = iter("abcdefghijklmnop")
print(it)

<str_iterator object at 0x7f49ac240970>

In [11]:
it = range(10).__iter__()
for i in it:
    print(i)

0
1
2
3
4
5
6
7
8
9

### 1.2 generator
> Generative functions generate values via `yield` keyword

`yield` -> anchor for iteration

In [15]:
def g():
    yield "one"
    yield "two"
    yield "three as last"

print(g())

for v in g():
    print(v)

<generator object g at 0x7f49ac46e740>
one
two
three as last

## 2. Ternary Operators
```python
ret = true_value if condition else false_value
```

In [16]:
def confirm(x):
    return "1이다" if x == 1 else "3이다" if x == 3 else "neither 1 nor 3"

In [17]:
confirm(1)

'1이다'

In [18]:
confirm(3)

'3이다'

In [19]:
confirm (5)

'neither 1 nor 3'

## 3. List
- slicing: `list[from:lt:step]`
    - `from` defaults 0,
    `lt` defaults the end of the iterable,
    `step` defaults 1
    - `lt` does not contain itself (less than)

In [20]:
a = [1, 2, 3, 4, 5]

In [21]:
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [22]:
del a[0]
print(a)

[2, 3, 4, 5, 6]

In [23]:
b = [1, 2, 3, 4, 5]
print(b[:2])

[1, 2]

### 3.2. List comprehension
> ```python
[<value> for <parameter> in <iterable> (if <condition>)]
```

- `value` can be ternacy condition-expression
    - `[<value> if <condition> else <else-value> for <parameter> in <iterable> (if <condition>)]`

In [25]:
c = [v for v in range(10)]
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
[v for v in range(10) if v % 2 == 1]

[1, 3, 5, 7, 9]

In [29]:
[v for v in range(10) if v % 2 == 1 else 0]

SyntaxError: ignored

In [27]:
[v if v % 2 == 1 else 0 for v in range(10)]

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

## 4. Function
> ```python
def func_name(*args, **kwargs):
    pass
```

In [39]:
def fibo(n):
    return fibo(n - 1) + fibo(n - 2) if n > 2 else 1

In [40]:
print(fibo(5))

5

In [41]:
print(fibo(10))

55

In [42]:
print(fibo(20))

6765

### 4.2 lambda, the function
> ```python
func_name = lambda (args): (value)
```

In [36]:
square = lambda x: x ** 2

In [37]:
print(square(195))

38025

In [45]:
fibo_as_lambda = lambda n: (fibo_as_lambda(n - 1) + fibo_as_lambda(n - 2)) if n > 2 else 1

In [46]:
print(fibo_as_lambda(5))

5

In [47]:
print(fibo_as_lambda(10))

55

In [48]:
print(fibo_as_lambda(20))

6765

Python functions are also object (first-class)

In [49]:
functions = [
    lambda x: x ** 2,
    lambda x: x ** 3,
    lambda x: x ** 4
]

for f in functions:
    print(f(5))

25
125
625

In [53]:
get_function = lambda n: [f(n) for f in functions]

In [54]:
print(get_function(5))

[25, 125, 625]

In [52]:
print(functions)
print(functions[0])
print(isinstance(functions[0], object))

[<function <lambda> at 0x7f49977da4c0>, <function <lambda> at 0x7f4997eb84c0>, <function <lambda> at 0x7f49ac340d30>]
<function <lambda> at 0x7f49977da4c0>
True

- `lambda` can accept `*args` and `**kwargs` as parameter

In [55]:
bare = lambda *args: args

In [57]:
print(bare(10, 20, 30, 40, 50))

(10, 20, 30, 40, 50)

In [58]:
joiner = lambda *strings: " ".join(strings)
print(joiner("I", "am", "eunhak", "lee"))

I am eunhak lee

In [59]:
swapper = lambda **kwargs: dict((v, k) for k, v in kwargs.items())
print(swapper(**{
    "name": "Eunhak Lee",
    "age": 21,
    "country": "Republic of Korea"
}))

{'Eunhak Lee': 'name', 21: 'age', 'Republic of Korea': 'country'}

In [60]:
swap = lambda a, b: (b, a)
print(swap(1, 2))

(2, 1)

In [61]:
universal_function = lambda *args, **kwargs: (args, kwargs)
print(universal_function(
    1, 2, 3, 4, 5,
    foo="bar",
    hello="python"
))

((1, 2, 3, 4, 5), {'foo': 'bar', 'hello': 'python'})

In [71]:
import functools
calculator = lambda operation, data: sum(data) if operation == "sum" else functools.reduce(lambda a, b: a * b, data) if operation == "mul" else -1

In [72]:
calculator(
    data=[1, 2, 3, 4, 5],
    operation="sum"
)

15

In [73]:
calculator(
    data=[1, 2, 3, 4, 5],
    operation="mul"
)

120

## 5. File I/O

In [87]:
pwd

'/home/enak'

In [86]:
ls

KK/      hong.py     jupyterenv/  run_jupyter.sh*  yohan/
dpyenv/  install.sh  ps/          student.txt

In [92]:
with open("student.txt", 'r', encoding="euc-kr") as f:
    sample = f.readline()

print(sample)
sample = sample[:-1]  # remove CRLF
print(sample)

태서연;54;72;60;78

태서연;54;72;60;78

In [93]:
print(sample.split(";"))

['태서연', '54', '72', '60', '78']

In [95]:
nums = [int(x) for x in sample.split(";") if x.isnumeric()]
print(nums)

[54, 72, 60, 78]

In [96]:
sum(nums)

264

In [98]:
f = lambda line: sum(int(x) for x in line.split(";")[1:])
print(f(sample))

264

In [107]:
sampler = lambda line: (line.split(";")[0], [int(v) for v in line.split(";")[1:]])
print(sampler(sample))

('태서연', [54, 72, 60, 78])

In [114]:
# both are same
grade_calculator = lambda s, operation: (s[0], sum(s[1])) if operation == "sum" else (s[0], sum(s[1])/len(s[1])) if operation == "avg" else (s[0], None)
grade_calculator = lambda s, operation: (s[0], sum(s[1]) if operation == "sum" else sum(s[1])/len(s[1]) if operation == "avg" else None)

In [115]:
print(grade_calculator(
    s=sampler(sample),
    operation="sum"
))

('태서연', 264)

In [116]:
print(grade_calculator(
    s=sampler(sample),
    operation="avg"
))

('태서연', 66.0)