# SWeat 파이썬 W2-2 Homework

강의 후 과제 자료입니다

## 1. 연습문제 4.1.1

````{admonition} 연습 문제 4.1.1
(1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.
(2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.
````

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
a = pd.Series([
    83, 92, 76, 45, 50, 27
], index=[
    "국어", "수학", "영어", "한국사", "물리I", "화학I"
])
b = pd.Series([
    92, 88, 91, 50, 47, 50
], index=[
    "국어", "수학", "영어", "한국사", "법과 정치", "윤리와 사상"
])

In [ ]:
a + b

국어        175.0
물리I         NaN
법과 정치       NaN
수학        180.0
영어        167.0
윤리와 사상      NaN
한국사        95.0
화학I         NaN
dtype: float64

In [ ]:
a - b

국어        -9.0
물리I        NaN
법과 정치      NaN
수학         4.0
영어       -15.0
윤리와 사상     NaN
한국사       -5.0
화학I        NaN
dtype: float64

In [ ]:
a * b

국어        7636.0
물리I          NaN
법과 정치        NaN
수학        8096.0
영어        6916.0
윤리와 사상       NaN
한국사       2250.0
화학I          NaN
dtype: float64

In [ ]:
a / b

국어        0.902174
물리I            NaN
법과 정치          NaN
수학        1.045455
영어        0.835165
윤리와 사상         NaN
한국사       0.900000
화학I            NaN
dtype: float64

## 2. 연습 문제 4.1.2
````{admonition} 연습 문제 4.1.2
다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.
(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.
````

In [ ]:
d = pd.DataFrame({
    "은학": [83, "수학(가)", 92, 76, 45, 50, 27],
    "지민": [68, "수학(가)", 88, 90, 42, 45, 44],
    "종현": [91, "수학(나)", 96, 94, 45, 45, 50],
    "준호": [96, "수학(나)", 88, 100, 50, 50, 47],
    "종완": [96, "수학(가)", 100, 100, 50, 50, 50]
}, index=["국어", "수학 유형", "수학", "영어", "한국사", "탐구1", "탐구2"])

d.loc["평균"] = pd.concat([d.loc[["국어", "수학", "영어"], :], d.loc[["한국사", "탐구1", "탐구2"], :] * 2]).mean()
d

          은학       지민     종현       준호       종완
국어        83       68     91       96       96
수학 유형  수학(가)    수학(가)  수학(나)    수학(나)    수학(가)
수학        92       88     96       88      100
영어        76       90     94      100      100
한국사       45       42     45       50       50
탐구1       50       45     45       50       50
탐구2       27       44     50       47       50
평균      82.5  84.6667   93.5  96.3333  99.3333

## 3. 연습 문제 4.1.3

````{admonition} 연습 문제 4.1.3
다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```

(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
(5) 춘향의 점수를 데이터프레임으로 나타낸다.
(6) 향단의 점수를 시리즈로 나타낸다.
````

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
df["수학"]

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [ ]:
df[["국어", "영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [ ]:
df.loc["평균"] = df.mean()
df

      국어    영어    수학
춘향  80.0  90.0  90.0
몽룡  90.0  70.0  60.0
향단  70.0  60.0  80.0
방자  30.0  40.0  70.0
평균  67.5  65.0  75.0

In [ ]:
df["영어"]["방자"] = 80
df.loc["평균"] = df.mean()
df

      국어    영어    수학
춘향  80.0  90.0  90.0
몽룡  90.0  70.0  60.0
향단  70.0  60.0  80.0
방자  30.0  80.0  70.0
평균  67.5  74.6  75.0

In [ ]:
df.loc[["춘향"]]

      국어    영어    수학
춘향  80.0  90.0  90.0

In [ ]:
df.loc["향단"]

국어    70.0
영어    60.0
수학    80.0
Name: 향단, dtype: float64

## 4. 연습문제 4.3.1
````{admonition} 연습 문제 4.3.1
1. 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다. 
2. 10가지 이상의 방법으로 특정한 행과 열을 선택한다.
````

In [ ]:
df = pd.DataFrame(np.arange(0, 25).reshape(5, 5),
    columns=["A", "B", "C", "D", "E"],
    index=["a", "b", "c", "d", "e"])
df

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [ ]:
df.loc["c", "C"]

12

In [ ]:
df.loc["c": "c", "C"]["c"]

12

In [ ]:
df.loc["c", "C":"C"]["C"]

12

In [ ]:
df.loc["c":"c", "C":"C"]["C"]["c"]

12

In [ ]:
df.iloc[2, 2]

12

In [ ]:
df.iloc[2:3, 2][0]

12

In [ ]:
df.iloc[2, 2:3][0]

12

In [ ]:
df.iloc[2:3, 2]["c"]

12

In [ ]:
df.iloc[2, 2:3]["C"]

12

In [ ]:
df.iloc[2:3, 2:3]["C"]["c"]

12

## 5. EBS 수학 교제 p.89-95

In [2]:
import pandas as pd
fifa = pd.read_csv("data.csv")

print(fifa.shape)
print(fifa.info())

(18207, 89)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB
None

In [3]:
sub_1 = fifa.loc[14]
sub_1

Unnamed: 0                                                    14
ID                                                        215914
Name                                                    N. Kanté
Age                                                           27
Photo             https://cdn.sofifa.org/players/4/19/215914.png
                                       ...
GKHandling                                                    12
GKKicking                                                     10
GKPositioning                                                  7
GKReflexes                                                    10
Release Clause                                           €121.3M
Name: 14, Length: 89, dtype: object

In [4]:
sub_2 = fifa[2:16]
sub_2

    Unnamed: 0      ID  ... GKReflexes  Release Clause
2            2  190871  ...       11.0         €228.1M
3            3  193080  ...       94.0         €138.6M
4            4  192985  ...       13.0         €196.4M
5            5  183277  ...        8.0         €172.1M
6            6  177003  ...        9.0         €137.4M
7            7  176580  ...       37.0           €164M
8            8  155862  ...       11.0         €104.6M
9            9  200389  ...       89.0         €144.5M
10          10  188545  ...       10.0         €127.1M
11          11  182521  ...       10.0         €156.8M
12          12  182493  ...       15.0          €90.2M
13          13  168542  ...       12.0           €111M
14          14  215914  ...       10.0         €121.3M
15          15  211110  ...        8.0         €153.5M

[14 rows x 89 columns]

In [7]:
sub_3 = fifa.loc[:, ["Name", "Preferred Foot"]]
sub_3

                     Name Preferred Foot
0                L. Messi           Left
1       Cristiano Ronaldo          Right
2               Neymar Jr          Right
3                  De Gea          Right
4            K. De Bruyne          Right
...                   ...            ...
18202        J. Lundstram          Right
18203  N. Christoffersson          Right
18204           B. Worman          Right
18205      D. Walker-Rice          Right
18206           G. Nugent          Right

[18207 rows x 2 columns]

In [8]:
sub_4 = fifa.iloc[0:10, 1:3]
sub_4

       ID               Name
0  158023           L. Messi
1   20801  Cristiano Ronaldo
2  190871          Neymar Jr
3  193080             De Gea
4  192985       K. De Bruyne
5  183277          E. Hazard
6  177003          L. Modrić
7  176580          L. Suárez
8  155862       Sergio Ramos
9  200389           J. Oblak

In [9]:
korean_players = fifa["Nationality"] == "Korea Republic"
sub_5 = fifa.loc[korean_players]

In [10]:
korean_players

0        False
1        False
2        False
3        False
4        False
         ...
18202    False
18203    False
18204    False
18205    False
18206    False
Name: Nationality, Length: 18207, dtype: bool

In [11]:
sub_5

       Unnamed: 0      ID  ... GKReflexes  Release Clause
125           125  200104  ...       10.0          €71.2M
1295         1295  180283  ...       10.0          €14.3M
1407         1407  182152  ...        9.0          €12.8M
2002         2002  211927  ...        8.0          €17.6M
2021         2021  221671  ...        8.0          €13.8M
...           ...     ...  ...        ...             ...
17955       17955  240272  ...       12.0            €73K
17959       17959  245401  ...       12.0            €73K
17965       17965  243359  ...       11.0           €131K
18058       18058  244108  ...       10.0           €104K
18084       18084  244411  ...        5.0            €73K

[335 rows x 89 columns]

In [12]:
sub_6 = sub_5["Name"]
sub_6

125               H. Son
1295       Ki Sung Yueng
1407        Koo Ja Cheol
2002     Kwon Chang Hoon
2021        Lee Jae Sung
              ...
17955     Min Gyeong Min
17959       Lee Dong Hee
17965       Kim Jong Jin
18058    Hong Hyeon Seok
18084        Kwon Ki Pyo
Name: Name, Length: 335, dtype: object